@font-face {
    font-family: 'Microsoft Sans Serif Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Microsoft Sans Serif Regular'), url('/assets/fonts/microsoft-sans-serif/micross.woff') format('woff');
}
    

@font-face {
    font-family: 'Microsoft Sans Serif';
    font-style: normal;
    font-weight: normal;
    src: local('Microsoft Sans Serif'), url('/assets/fonts/microsoft-sans-serif/micross.woff') format('woff');
}

.main {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* padding: 10px; */
}

.centered {
    /* bring your own prefixes */
    display: flex;
    /* transform: scale(2) translate(-25%, -25%); */
    transform-origin: 50% 50%;
}
.title-bar {
    background: linear-gradient(
        90deg
        ,#D0697D,#E6CBCA);
    font-family: "Microsoft Sans Serif Regular", "Arial";
    /* font-family: "Arial"; */
}

html {
    background: #1C1B3E;
    background-image: url("/assets/images/tile-background.png");
    background-repeat: repeat;  
}

body {

    margin: 0;
}

/* OVERRIDE FONT SIZE */

.sunhacks-window {
    max-width: 100ch;
}

.sunhacks-window * {
    font-size: 12pt;
}

.sunhacks-window p{
    margin-top: .5em;
    margin-bottom: .5em;

}

.sunhacks-window fieldset {
    /* border: initial; */

    box-shadow: inset -1px -1px #ffffff, inset -2px 1px #808080, inset 1px -2px #808080, inset 2px 2px #ffffff;
    -webkit-box-shadow: none;
}

.sunhacks-window input[type="text"], .sunhacks-window input[type="email"] {
    height: 1.8em;
}

.sunhacks-window button {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 0;
}
.sunhacks-window input[type="checkbox"] + label {
    
    padding-left: 0.5em;
}

.sunhacks-window input[type="checkbox"] + label::before {
    width: 18px;
    height: 18px;
    background-position: center;
}
.sunhacks-window input[type="checkbox"]:checked + label::after {
    background-position: center;
    left: -13px;
    transform: scale(1.5);
}

.sunhacks-window ul.tree-view details > summary::before {
    width: 12px;
    height: 11px;
    margin-top: 3px;
    padding-top: 2px;
}

/* END OVERRIDE FONT SIZE */

.window-body {
    /* font-family: "Microsoft Sans Serif Regular" , "Arial"; */
    font-family: "Arial";
}
.footer {
    margin: 0;
}
.window-top {
    justify-content: flex-start;
    display: flex;
}
.window-splash {
    padding-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    min-width: 15ch;
}
.window-footer {
    text-align: right;
}

.socials { 
    display: flex;
}

.socials > a {
    flex: 1;
}

.socials > a > button{
    margin-bottom: 0;
    width: 100%;
}

.title {
    font-size: 2rem;
    margin: 0;
}

.splash-art {
    /* width: 120px; */
    /* height: 100%; */
    /* box-sizing: border-box; */
    border: 1px solid #1C1B3E;
    background: #7187A2;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.top-party {
    width:50%; transform: translate(5px, 5px);
    align-self: flex-start;
}
.computer {
    width:60%; 
}
.bottom-party {
    width:60%; transform: translate(-5px, -5px);
    align-self: flex-end;
}

.title-bar, .window, button, input, label, option, select, textarea, ul.tree-view {
    font-family: "Microsoft Sans Serif Regular";
}

.title-bar-controls button {
    height: 17px;
    width: 17px;
    margin: 0px;
    background-position: top 4px left 5px;
}

#firstNameField, #lastNameField, #emailField {
    width: 200px;
}

#firstNameField {
    margin-top: 6px;
}

.volunteering {
    justify-content: space-between; display: flex;
}
.volunteering section .field-row {
    justify-content: flex-end;
}

.info-box {
    max-width: 60ch;
}

.faq-box {
    width: 80ch;
}
.subscribed {
    justify-content: flex-end;
}

.tree-view {
    height: 50ch;
    overflow-y: scroll;
}

@media (max-width: 768px) {
    .main {
        padding: 4em 10px 2em 10px;
    }

    .sunhacks-window .window-top {
        flex-direction: column;
    }
    .info-box {
        max-width: 80ch;
    }
    .faq-box {
        max-width: 80ch;
        width: 100%;
    }
    .tree-view {
        height: initial;
        overflow-y: auto;
    }

    .window-splash {
        display:  flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;

        padding: 0;
    }

    .splash-art {
        flex-direction: row;
        width: 100%;

        padding: 2px;
    }

    .splash-art .computer {
        width: 20%;
    }
    .splash-art .top-party, .splash-art .bottom-party {
        width: 20%;
    }
}

/* TODO make media query based on height */
/* @media only screen */ 
/*     and (min-device-width: 320px) */ 
/*     and (max-device-width: 768px) */
/*     and (-webkit-min-device-pixel-ratio: 2) { */
/*         body { */
/*             overflow-y: scroll; */
/*         } */
/*         #help { */
/*             display:none; */
/*         } */
/*         .centered { */
/*             margin-top: 60px; */ 
/*             transform: scale(1) translate(-50%, -50%); */
/*         } */
/*         .setup { */
/*             width: 80ch; */
/*         } */
/*         .info-box { */
/*             width: 60vw; */
/*         } */
/*         body { */
/*             background-size: 25vw; */
/*         } */
        
/*         .window-top { */
/*             display: block; */
/*         } */
/*         .window-splash { */
/*             padding-right: 0px; */
/*         } */
/*         .splash-art { */
/*             width: 100%; */
/*             height: 100%; */
/*             box-sizing: border-box; */
/*             border: 1px solid #1C1B3E; */
/*             background: #7187A2; */
/*             flex-direction: row; */
/*             justify-content: space-between; */
/*             display: flex; */
/*         } */
        
/*         .top-party { */
/*             width:13%; */ 
/*             margin-right: auto; */
/*         } */
/*         .computer { */
/*             width:15%; margin:auto; */
/*         } */
/*         .bottom-party { */
/*             width:15%; */ 
/*             margin-left: auto; */
/*         } */
/*         .title { */
/*             font-size: 1.5rem; */
/*             margin-top: 1vh; */
/*         } */

/*         .window-footer p { */
/*             text-align: center; */
/*         } */

/* } */

details summary::marker { content: ""; }
