@-webkit-keyframes SunhacksSunset {
    0% {
        background-position: 50% 0%
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0%
    }
}

@-moz-keyframes SunhacksSunset {
    0% {
        background-position: 50% 0%
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0%
    }
}

@keyframes SunhacksSunset {
    0% {
        background-position: 50% 0%
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0%
    }
}

.grad {
    background: linear-gradient(0deg, #FFA400 5%, #C83950 100%);
    background-size: 400% 400%;

    -webkit-animation: SunhacksSunset 50s ease infinite;
    -moz-animation: SunhacksSunset 50s ease infinite;
    animation: SunhacksSunset 50s ease infinite;
    height: 100vh;
    width: 100vw;
}

.grad h3 {
    visibility: visible !important;
    /* margin-top: 0; */
}
